{% extends "blogbase.html" %}

{% block content %}
<div class="container">
	<div class="column ">
		<p>
			Hi! Looks like you have come across my little corner of the internet. Let me introduce myself, I am Bhargav and I study Computer science in Hyderabad, India. I am a self taught programmer who likes the internet, web development, programming and playing my guitar.		
		</p>
	</div>
	<div class="column">
		<p>
				<h3>
					This website is my blog and a place where I post my thoughts and stories of programming, music and life.
				</h3>
		</p>
		<p>
			I see programming as sloving problems, and solving problems is something that I love. This website is the result of a few months of searching through StackOverflow, many many documentations of various libraries and of course Google. I know that I am barely experienced, but I keep learning becuase I like to be on top of new things.
		</p>
	</div>
	<div class="column">
		<p>
			Contact me:
			<ul>
				<li class="item 1">
					<a href="mailto:tHEbIgtHEb20@gmail.com?subject='Feedback on the blog'" target="_blank">
						tHEbIgtHEb20@gmail.com
					</a>
				</li>
				<li class="item 2">
					<a href="https://www.github.com/bIgBV" target="_blank">
						Github
					</a>
				</li>
			</ul>
		</p>
		</div>
	</div>
{% endblock %}