{% extends "blogbase.html" %}

{% block content %}
	<div class="column full">
		<p>
			<p>
				This page contains links to the project pages that I am working on or have worked on with the links to their repositories if present.
			</p>
			<ul>
				<li class="item1">
					<h4>My ramblings</h3>
					<p>
						This is my first personal project and my blog. It is coded in Python and I hosted on the Google App Engine. This started off as the assignment to a <a href"https://www.udacity.com">Udacity</a> and now is used as a platform to learn new web technologies. It is updated pretty regularly.
						<a href="https://www.github.com/bIgBV/my-ramblings" target="_blank">
							<b>Github</b>
						</a>
					</p>
				</li>
			</ul>
		</p>
	</div>
{% endblock %}